<div ng-controller="NeuronDescriptionCtrl">
    <div class="btn btn-link neuron-article-description-edit-button" ng-show="!editing && !description"
         ng-click="setEditing(true)">
        Edit description...
    </div>
    <div ng-click="setEditing(true)" ng-show="!editing && description">
        {{description}}
    </div>

    <div ng-show="editing">
        <form ng-submit="setEditing(false)">
            <div class="form-group">
                <textarea class="form-control" ng-model="description"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-success-outline" type="submit" ng-disabled="!description">Сохранить</button>
                <button type="button" class="close" type="submit" ng-click="setEditing(false)">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </form>
    </div>
</div>