<h2>Connected neurons (axons)</h2>
<div ng-controller="NeuronConnectionsCtrl">

    <div class="m-b-md form-inline-btn-add">
        <div class="button-container">
            <form class="form-inline m-b-md form-filter">
                <div class="form-group" ng-show="filters().length">
                    <label>Show:</label>

                    <div class="btn-group ">
                        <button type="button" class="btn btn-secondary dropdown-toggle form-control text-capitalize"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span ng-if="filter">{{filter}}</span>
                            <span ng-if="!filter">All</span>
                        </button>
                        <div class="dropdown-menu">
                            <button class="dropdown-item " ng-click="setFilter(null); hasMoreItemsToShow('All');" ng-show="!!filter">All</button>
                            <button class="dropdown-item text-capitalize" ng-click="setFilter(filtersItem); hasMoreItemsToShow(filter);"
                                    ng-repeat="filtersItem in filters()" ng-show="filter!==filtersItem">{{filtersItem}}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <form class="form-group">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-plus"></i> Add
                    </button>
                    <div class="dropdown-menu">
                        <button class="dropdown-item" ng-click="showNewNeuronForm('text'); showPanel()">Text / Link</button>
                        <button class="dropdown-item" ng-click="showNewNeuronForm('image'); showPanel()">Upload image</button>
                        <button class="dropdown-item" ng-click="showNewNeuronForm('audio'); showPanel()">Upload audio</button>

                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" ng-click="showNewNeuronForm('post'); showPanel()">Post</button>
                        <button class="dropdown-item disabled">Project</button>
                    </div>
                </div>
            </form>
        </div>



        <div class="card m-b-lg card-float" ng-show="newNeuronForm">
            <div class="card-block">
                <button type="button" class="close" aria-label="Close" ng-click="showNewNeuronForm(null); closePanel()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <form ng-show="newNeuronForm==='text'" ng-submit="addNewNeuron(newNeuron)">
                    <h4 class="card-title">New neuron</h4>

                    <fieldset class="form-group">
                        <label>Write or paste text or url</label>
                        <input type="text" class="form-control" placeholder="Enter some text" ng-model="newNeuronText"
                               ng-change="onNewNeuronTextChange()"
                               required>
                        <small class="text-muted">If you want to add image or video from web - just paste link here
                        </small>
                    </fieldset>

                    <div class="media m-b" ng-if="newNeuron">
                        <div class="media-left">
                            <img class="media-object" ng-src="{{newNeuron.image}}" width="100" alt="{{newNeuron.header}}"/>
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading" ng-show="!editingHeader" ng-click="editingHeader = !editingHeader">{{newNeuron.header}}</h4>
                            <input type="text" class="form-control" ng-model="newNeuron.header"  ng-show="editingHeader">
                            <ul class="list-inline">
                                <li><span class="text-muted">Added:</span> {{newNeuron.created | date:'mediumDate'}}</li>
                            </ul>

                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit" ng-disabled="!newNeuron">Add</button>
                    <button class="btn btn-secondary" type="reset" ng-click="clearNeuron(newNeuron)">Reset</button>
                </form>

                <!-- Image uploading -->
                <form ng-show="newNeuronForm==='image'" ng-submit="addNewNeuron(newImageNeuron)" name="newNeuronImageForm">
                    <h4 class="card-title">Upload image</h4>

                    <fieldset class="form-group">
                        <input type="file" nv-file-select="" uploader="uploader" accept="image/*"/><br/>
                        <small class="text-muted">It is better to upload small images here.</small>
                    </fieldset>

                    <div class="media m-b" ng-if="newImageNeuron">
                        <div class="media-left">
                            <img class="media-object" ng-src="{{newImageNeuron.image}}" width="100"
                                 alt="{{newImageNeuron.header}}"/>
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading" ng-show="!editingHeader" ng-click="editingHeader = !editingHeader">{{newImageNeuron.header}}</h4>
                            <input type="text" class="form-control" ng-model="newImageNeuron.header" ng-show="editingHeader">
                            <ul class="list-inline">
                                <li><span class="text-muted">Added:</span> {{newImageNeuron.created | date:'mediumDate'}}
                                </li>
                            </ul>

                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit" ng-disabled="!newImageNeuron">Add</button>
                    <button class="btn btn-secondary" type="reset" ng-click="clearNeuron(newImageNeuron)">Reset</button>
                </form>

                <!-- Audio uploading -->
                <form ng-show="newNeuronForm==='audio'" ng-submit="addNewNeuron(newAudioNeuron)" name="newNeuronAudioForm">
                    <h4 class="card-title">Upload audio</h4>

                    <fieldset class="form-group">
                        <input type="file" nv-file-select="" uploader="audioUploader" accept="audio/mp3"/><br/>
                        <small class="text-muted">It is better to upload small (less than 1Mb) mp3 files here.</small>
                    </fieldset>

                    <div class="media m-b" ng-if="newAudioNeuron">
                        <div class="media-left">
                            <img class="media-object" ng-src="{{newAudioNeuron.image}}" width="100" alt=""/>
                        </div>

                        <div class="media-body">
                            <div class="media-heading" ng-if="newAudioNeuron">
                                <audio ng-src="{{newAudioNeuron.header | trustUrl}}" controls/>
                            </div>
                            <ul class="list-inline">
                                <li><span class="text-muted">Added:</span> {{newAudioNeuron.created | date:'mediumDate'}}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit" ng-disabled="!newAudioNeuron">Add</button>
                    <button class="btn btn-secondary" type="reset" ng-click="clearNeuron(newAudioNeuron)" >Reset</button>
                </form>

                <form class="form-post" ng-show="newNeuronForm==='post'" ng-submit="addNewNeuronPost(newDataPost)">
                    <h4 class="card-title">New post</h4>

                    <fieldset class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" placeholder="Enter some text" required ng-model="newDataPost.header">
                    </fieldset>

                    <fieldset class="form-group">
                        <label>Image</label>
                        <input type="url" class="form-control" placeholder="Paste link image" required ng-model="newDataPost.image">
                    </fieldset>

                    <fieldset class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" placeholder="Description" ng-model="newDataPost.description"></textarea>
                    </fieldset>

                    <button class="btn btn-primary" type="submit" ng-disabled="!newDataPost">Add</button>
                    <button class="btn btn-secondary" type="reset" ng-click="clearNeuron(newDataPost)">Reset</button>
                </form>

            </div>
        </div>
    </div>


    <div class="neuron-connections__neurons">
        <div class="media" ng-repeat="neuron in filteredNeurons() | limitTo: paginationLimit()">
            <div class="media-left">
                <img class="media-object" ng-src="{{neuron.image}}" alt="{{neuron.header}}" width="100">
            </div>

            <div class="media-body">
                <div class="media-heading" ng-if="neuron.type==='audio'">
                    <audio ng-src="{{neuron.header | trustUrl}}" controls/>
                </div>
                <h4 class="media-heading" ng-if="neuron.type!=='audio'">{{neuron.header}}</h4>
                <ul class="list-inline pull-left">
                    <li><span class="text-muted">Added:</span> {{neuron.created | date:'mediumDate'}}</li>
                </ul>
                <div class="post-description-block" ng-if="neuron.type==='post'">
                    {{neuron.description}}
                </div>
                <div class="btn-group dropup pull-right">
                    <button class="btn btn-info-outline btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Actions
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- Dropdown menu links -->
                        <button class="dropdown-item btn-sm " ng-click="deleteFromNeurons(neuron)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-t-2">
            <button class="btn btn-primary center-block" ng-show="btnShowMore" ng-click="showMoreItems(); hasMoreItemsToShow();">Show more</button>
        </div>
    </div>
</div>